

// $yellow:#2c698d;
// $footer-background-color: #363636;
// $footer-padding: 2rem 1.5rem;
// $card-header-background-color: $yellow;       think we an remove that
// $box-padding: 1rem;

// HEX COLOURS
// #cfd3da   // light grey
// #125885   // dark blue
// #6abded   // light blue
// #219fda   // mid blue
// #04294b   // navy (almost black)
* {
  box-sizing: border-box;
}

body {
  color:  #cfd3da;
  font-family: 'Nunito', sans-serif;
}


h1.title, h4.title, h2.title {
  color: #cfd3da;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  text-shadow: #e0e0e0 1px 1px 0, 4px 5px 4px #000000;
}


#root > section > div > div > div > time {
  color: #cfd3da;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  text-shadow: #e0e0e0 1px 1px 0, 4px 5px 4px #000000;
}

// .form-link {
//   margin-left: 3px;
// }

.columns {
  color: #125885;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
    div {
      // text-shadow: #e0e0e0 1px 1px 0, 4px 5px 4px #000000;
      flex-grow: 1;
      color: #125885;
      border: 2px solid #125885;
      border-radius: 5px;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      margin: 10px;
      padding: 10px;
    }
}

div.hero-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.bg-img.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

div > h1 {
  text-align: center;
  justify-content: center;
  align-content: center;
}

#root > div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 50px;
  padding: 50px;
  
}

#root > div {
  display: flex;
}

.airTitle {
  font-family: 'Nunito', sans-serif;
  text-shadow: #e0e0e0 1px 1px 0, 4px 5px 4px #000000;
  font-size: 40px;
}

h1.airQuality {
  font-family: 'Nunito', sans-serif;
  color: #04294b;
  border: 2px solid #125885;
  border-radius: 5px;
  font-size: 22px;
  text-align: center;
}

h2.airQuality {
  font-family: 'Nunito', sans-serif;
  color: #04294b;
  font-size: 27px;
  text-align: center;
  text-shadow: #e0e0e0 1px 1px 0, 4px 5px 4px #000000;
  
}

p {
  font-family: 'Nunito', sans-serif;
  color: #04294b;
  font-size: 27px;
  text-align: center;
  text-shadow: #e0e0e0 1px 1px 0, 4px 5px 4px #000000;
}

#root > div > img {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

#root > div > img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

#navbarMenuHeroC {
  opacity: 0.4;
}

.navbar {
  &.is-transparent {
  background-color: transparent;
  background-image: none;
  color:  #cfd3da;
  }
}

a.navbar-item {
  color: #125885;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

#root > section > div > div > div > time {
  color:  #cfd3da;
  font-family: 'Nunito', sans-serif;
}

// $navbar-background-color: transparent;

#root { 
  background-image: url("https://images.unsplash.com/photo-1483631224226-a219224bb76e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");
  background-position: center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  width: 100%;
  min-height: 100vh;
  height: auto;

}


@import '~bulma/bulma.sass';