@import '~bulma/bulma.sass';

$yellow:#2c698d;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $yellow;
$box-padding: 1rem;

// HEX COLOURS
// #cfd3da
// #125885
// #6abded
// #219fda
// #04294b


.card {
  height: 100%;
  display:flex;
  flex-direction: column;
}
.card-content {
  margin-top: auto;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}


span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}


