

// $yellow:#2c698d;
// $footer-background-color: #363636;
// $footer-padding: 2rem 1.5rem;
// $card-header-background-color: $yellow;       think we an remove that
// $box-padding: 1rem;

// HEX COLOURS
// #cfd3da
// #125885
// #6abded
// #219fda
// #04294b

.form-link {
  margin-left: 3px;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

div > h1 {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.navbar {
  &.is-transparent {
  background-color: transparent;
  background-image: none;
  }
}

a.navbar-item {
  color: white;
  font-weight: bold;
}

// $navbar-background-color: transparent;

#root { 
  background-image: url("https://images.unsplash.com/photo-1483631224226-a219224bb76e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");
  background-position: center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  width: 100%;
  min-height: 100vh;
  height: auto;

}


@import '~bulma/bulma.sass';